<section class="mt-5" id="sobre">
  <div class="container">
    <div class="d-flex justify-content-center">
      <img
        class="img-fluid rounded-pill"
        width="350"
        height="350"
        src="https://avatars.githubusercontent.com/u/103075175?v=4"
        alt="Foto do Jonatam Sturcio"
      />
    </div>
    <h2 class="display-5 fw-bold text-center mt-5">Um pouco sobre mim</h2>
    <div class="row flex-wrap mt-5">
      <div class="col-lg">
        <h3 class="fs-3">
          Meu nome é <span class="app-text-principal">Jonatam Sturcio</span>,
          sou um desenvolvedor Full-Stack.
        </h3>

        <p class="fs-5">
          Possuo 2 anos de experiência com Java, 6 meses de experiência com
          flutter e atualmente desenvolvendo com C# a 6 meses.
        </p>

        <p class="fs-5">
          Atualmente trainee da Academia do Programador Full-Stack, utilizando
          C#, MCV, EntityFramework, AutoMapper, Angular, entre outros.
        </p>
      </div>

      <div class="col">
        <ul class="list-group">
          <li class="list-group-item py-3 app-background-principal">
            <strong>Nome:</strong> Jonatam Sturcio Corrêa
          </li>
          <li class="list-group-item py-3 app-background-secundario">
            <strong>Email: </strong>
            <a href="mailto:jonatamsturcio.c@gmail.com">
              jonatamsturcio.c&#64;gmail.com
            </a>
          </li>
          <li class="list-group-item py-3 app-background-principal">
            <strong>Idade:</strong> 25 Anos
          </li>
          <li class="list-group-item py-3 app-background-secundario">
            <strong>De:</strong> Lages, Santa Catarina
          </li>
        </ul>
        <div
          class="d-flex justify-content-center align-items-center gap-3 mt-3"
        >
          <a
            class="text-light"
            href="https://github.com/jonatam-sturcio"
            target="_blank"
          >
            <i class="bi bi-github fs-1"></i>
          </a>
          <a
            class="text-light"
            href="https://linkedin.com/in/jonatam-sturcio-498078269/"
            target="_blank"
          >
            <i class="bi bi-linkedin fs-1"></i>
          </a>

          <a
            class="btn btn-lg app-background-principal app-background-hover rounded-5 px-5 fw-semibold"
            href="https://api.whatsapp.com/send?phone=5549998206780&text&type=phone_number&app_absent=0"
            target="_blank"
          >
            Contato via WhatsApp
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
