<section class="app-background-escuro-2 d-flex justify-content-center align-items-center" id="experiencias">
    <div class="container">
        <h2 class="display-5 fw-bold text-center">Experiências</h2>
  
        <div class="row flex-wrap justify-content-center g-3 mt-5">

            <div class="col">
                <div class="card h-100">

                    <div class="card-header">
                        <span class="rounded-pill text-bg-success px-3">Jun/2022 - Dez/2022</span>
                        <br/>

                        <img class="my-3" src="https://agrotechlab.lages.ifsc.edu.br/images/logo.png"alt="Logo da Agrotech Lab"/>

                        <br/>
                        <label>Programador Mobile</label>
                    </div>
        
                    <div class="card-body">
                        <p>
                            Responsável pelo desenvolvimento e manutenção do app mobile. 
                        </p>
            
                        <p>
                            <span class="fw-semibold">Stack:</span> Flutter, Firebase, ThingsBoard.
                        </p>
                    </div>

                </div>
            </div>
    
        </div>

    </div>
</section>
