<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container py-2">

      <a class="navbar-brand fw semi-bold" href="#">Jonatam Sturcio</a>

      <button (click)="colapsarNavBar = !colapsarNavBar" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        
        <span class="navbar-toggler-icon"></span>
      
      </button>

      <div class="collapse navbar-collapse" [ngClass]="{show: colapsarNavBar}">

        <div class="navbar-nav ms-auto">

          <a class="nav-link active" aria-current="page" href="#">Inicio</a>

        </div>

      </div>

    </div>

  </nav>
  <section class="mt-5" id="sobre">
    <div class="container">
        <div class="d-flex justify-content-center">
            <img class="img-fluid rounded-pill" width="350" height="350" src="https://avatars.githubusercontent.com/u/103075175?v=4" alt="Foto do Jonatam Sturcio">
        </div>
        <h2 class="display-5 fw-bold text-center mt-5">Um pouco sobre mim</h2>
        <div class="row flex-wrap mt-5">
            <div class="col-lg">
                <h3 class="fs-3">
                    Meu nome é Jonatam Sturcio, sou um desenvolvedor Full-Stack.
                </h3>

                <p class="fs-5">
                    Possuo 4 anos de experiência com Java, 6 meses de experiência com flutter 
                    e atualmente desenvolvendo com C# a 6 meses.
                </p>

                <p class="fs-5">
                    Atualmente trainee da Academia do Programador Full-Stack, 
                    utilizando C#, MCV, EntityFramework, AutoMapper, Angular, entre outros.
                </p>
            </div>

            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item py-3"><strong>Nome:</strong> Jonatam Sturcio Corrêa</li>
                    <li class="list-group-item py-3"><strong>Email: </strong> 
                        <a href="mailto:jonatamsturcio.c@gmail.com">
                            jonatamsturcio.c&#64;gmail.com
                        </a></li>
                        <li class="list-group-item py-3"><strong>Idade:</strong> 25 Anos</li>
                        <li class="list-group-item py-3"><strong>De:</strong> Lages, Santa Catarina</li>
                </ul> 
                <div class="d-flex justify-content-center align-items-center gap-3 mt-3">
                    <a class="text-light" href="https://github.com/jonatam-sturcio"target="_blank">
                        <i class="bi bi-github fs-1"></i>
                    </a>

                    <a class="text-light" href="https://linkedin.com/in/jonatam-sturcio-498078269/"target="_blank">
                        <i class="bi bi-linkedin fs-1"></i>
                    </a>

                    <a class="btn btn-lg btn-warning rounded-5 px-5 fw-semibold"
                    href="https://api.whatsapp.com/send?phone=5549998206780&text&type=phone_number&app_absent=0" 
                    target="_blank">
                        Contato via WhatsApp
                    </a>
                </div> 
            </div>
        </div>
    </div>
  </section>
  <section class="app-background-escuro d-flex justify-content-center align-items-center" id="habilidades">
    <div class="container">

        <h2 class="display-5 fw-bold text-center">Minhas habilidades</h2>
    
        <div class="row row-cols-1 row-cols-lg-2 g-3 mt-5">
    
            <div class="d-flex align-items-center gap-4">

                <span>
                    <i class="bi bi-server fs-1"></i>
                </span>
        
                <div class="d-flex flex-column">
                    <label class="fs-4 fw-semibold">Aplicações Back-End</label>
        
                    <small class="fs-5">
                        Desenvolvimento de sistemas robustos para solucionar problemas
                        simples ou complexos.
                    </small>
                    
                </div>

            </div>
    
            <div class="d-flex align-items-center gap-4">

                <span>
                    <i class="bi bi-graph-up fs-1"></i>
                </span>
        
                <div class="d-flex flex-column">

                    <label class="fs-4 fw-semibold">Testes Automatizados</label>
        
                    <small class="fs-5">
                        Criação de testes automatizados que facilitam a manutenção e
                        melhoram as entregas das aplicações.
                    </small>
                    
                </div>

            </div>
    
            <div class="d-flex align-items-center gap-4">

                <span>
                    <i class="bi bi-wrench fs-1"></i>
                </span>
        
                <div class="d-flex flex-column">

                    <label class="fs-4 fw-semibold">Engenharia de Software</label>
        
                    <small class="fs-5">
                        Planejamento e execução de sistemas multi-camadas, integrando
                        várias tecnologias de forma organizada e escalável.
                    </small>
                    
                </div>

            </div>
    
            <div class="d-flex align-items-center gap-4">

                <span>
                    <i class="bi bi-people fs-1"></i>
                </span>
        
                <div class="d-flex flex-column">

                    <label class="fs-4 fw-semibold">Liderança</label>
        
                    <small class="fs-5">
                        Habilidade de liderar e tomar decisões técnicas em projetos em
                        equipe.
                    </small>
                    
                </div>

            </div>
    
            <div class="d-flex align-items-center gap-4">

                <span>
                    <i class="bi bi-building-up fs-1"></i>
                </span>
        
                <div class="d-flex flex-column">

                    <label class="fs-4 fw-semibold">Implantação</label>
        
                    <small class="fs-5">
                        Implantação e manutenção de sistemas em servidores VPS e em
                        nuvem.
                    </small>
                    
                </div>

            </div>
            
        </div>

    </div>
</section>
<section class="app-background-secundario d-flex justify-content-center align-items-center" id="stack">
    <div class="container">
        <h2 class="diplay-5 fw-bold text-center">Stack</h2>
    
        <div class="row flex-wrap justify-content-center g-3 mt-5">

            <div class="col-md-6 col-lg-3">

                <div class="card rounded-5 text-center py-3">
                    <span>.NET</span>
                </div>

            </div>
    
            <div class="col-md-6 col-lg-3">

                <div class="card rounded-5 text-center py-3">
                    <span>Angular</span>
                </div>

            </div>
    
            <div class="col-md-6 col-lg-3">

                <div class="card rounded-5 text-center py-3">
                    <span>TypeScript</span>
                </div>

            </div>
    
            <div class="col-md-6 col-lg-3">

                <div class="card rounded-5 text-center py-3">
                    <span>Node.js</span>
                </div>

            </div>
    
            <div class="col-md-6 col-lg-3">

                <div class="card rounded-5 text-center py-3">
                    <span>Firebase</span>
                </div>

            </div>
    
            <div class="col-md-6 col-lg-3">

                <div class="card rounded-5 text-center py-3">
                    <span>Entity Framework</span>
                </div>

            </div>
    
            <div class="col-md-6 col-lg-3">

                <div class="card rounded-5 text-center py-3">
                    <span>Microsoft SQL Server</span>
                </div>

            </div>
    
            <div class="col-md-6 col-lg-3">

                <div class="card rounded-5 text-center py-3">
                    <span>Selenium</span>
                </div>

            </div>

        </div>
        
    </div>

</section>

<section class="app-background-escuro-2 d-flex justify-content-center align-items-center" id="experiencias">
    <div class="container">
        <h2 class="display-5 fw-bold text-center">Experiências</h2>
  
        <div class="row flex-wrap justify-content-center g-3 mt-5">

            <div class="col">
                <div class="card h-100">

                    <div class="card-header">
                        <span class="rounded-pill text-bg-warning px-3">Jun/2022 - Dez/2022</span>
                        <br/>

                        <img class="my-3" src="https://agrotechlab.lages.ifsc.edu.br/images/logo.png"alt="Logo da Agrotech Lab"/>

                        <br/>
                        <label>Programador Mobile</label>
                    </div>
        
                    <div class="card-body">
                        <p>
                            Responsável pelo desenvolvimento e manutenção do app mobile. 
                        </p>
            
                        <p>
                            <span class="fw-semibold">Stack:</span> Flutter, Firebase, ThingsBoard.
                        </p>
                    </div>

                </div>
            </div>
    
        </div>

    </div>
</section>
<section class="app-background-escuro d-flex justify-content-center align-items-center py-5" id="portfolio">
    <div class="container">
      <h2 class="display-5 fw-bold text-center">Portfólio</h2>
  
      <!--
        <div class="row flex-wrap justify-content-center g-3 mt-5">
            <div class="col-lg-4">
                <a target="_blank" href="https://www.academiadoprogramador.net">
                    <img clas="img-fluid rounded-4" src="/img-academia-sm.png" alt="Website da Academia do Programador versão mobile"/>
                </a>
            </div>
  
            <div class="col">
                <img class="img-fluid rounded-4" src="/img-gerenciador-cinema.png" alt="Aplicação Gerador de Cinema"/>
            </div>
        </div>
        -->

    </div>
</section>
<footer class="app-background-secundario py-3">
    <div class="container">

        <p class="text-center mb-0">
            Copyright © 2024 <span class="fw-semibold">Jonatam Sturcio</span>. Todos os direitos reservados.
        </p>

    </div>
</footer>