/* You can add global styles to this file, and also import other style files */

@import "bootstrap";
@import "bootstrap-icons";

$cor-principal: #177d20;
$cor-secundaria: #0b5714;

$cor-background-1: #312d35;
$cor-background-2: #242527;

.app-text-principal
{
    color: $cor-principal;
}
.app-background-principal
{
    background-color: $cor-principal;

   
}

.app-background-secundario
{
    background-color: $cor-secundaria;
}

.app-background-escuro 
{
    background-color: $cor-background-1;
}

.app-background-escuro-2
{
    background-color: $cor-background-2;
}

.app-background-hover{
    &:hover {
        background-color: $cor-secundaria;
    }
}

#portfolio{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

section 
{
    min-height: 100vh; // vh - view-height

    padding-top: 2rem;
    padding-bottom: 2rem;
}
